.Contact {
  width: 100vw;
  height: auto;
  text-align: center;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.icons {
  font-size: clamp(3rem, 15vw, 5rem);
  cursor: pointer;
  user-select: none;
}
.Links {
  width: clamp(250px, 50vw, 1080px);
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Text section {
  width: 80vw;
  font-size: 1.5rem;
  margin: 0 auto;
}
.Text {
  margin-bottom: 2rem;
}
