.Contact {
  width: 100vw;
  height: auto;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.icons {
  font-size: clamp(3rem, 15vw, 4rem);
}
.Links {
  width: clamp(250px, 50%, 1080px);
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Text section {
  font-size: 1.5rem;
}
