.Info {
  width: 100vw;
  height: auto;
  margin-top: 1rem;
}

.card-title {
  text-align: center;
}
.list-group-item {
  border: none;
  background-color: transparent;
}
.list-group-item::before {
  content: "⟐";
  color: currentColor;
}
.card {
  border-radius: 20px;
  border: black solid 2px;
  transition: transform 1s ease;
}
.card:hover {
  box-shadow: 2px 2px 15px black;
  transform: translateX(5px) translateY(5px);
}

.Skill {
  width: 100vw;
  height: auto;
  min-height: 14rem;
  display: grid;
  margin-top: 1rem;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(0, 18rem));
  grid-template-rows: auto;
  justify-content: center;
}
.Skill:has(.card:hover) .card:not(:hover) {
  opacity: 0.5;
  transform: scale(0.9);
  background: gainsboro;
}
.Show {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70vw;
  min-width: 350px;
  height: auto;
  margin: 0 auto;
  font-size: 1.5rem;
}

/* Ajustes para Description */
.Description {
  flex: 2 1 350px; /* Crece más que Perfil y nunca baja de 350px */
}

.Perfil {
  width: 100%;
  height: auto;
  flex: 1 1 280px; /* Ocupa menos que Description y baja antes */
  min-height: 280px; /* solo para visualizar el espacio */
  background: url("../Icons/henry.jpg") center / contain no-repeat;
}
.Perfil:hover {
  background: url("../Icons/henrycraft.jpg") center / contain no-repeat;
}
.icons {
  font-size: clamp(3rem, 15vw, 4rem);
}
a {
  color: inherit;
  text-decoration: none;
}
