.Info {
  width: 100vw;
  height: auto;
}
.Show {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
}
.Perfil {
  width: 30vw;
  height: 30vh;
  background: url("../Icons/henry.jpg") center / contain no-repeat;
}
.Perfil:hover {
  background: url("../Icons/henrycraft.jpg") center / contain no-repeat;
}
.card-title {
  text-align: center;
}
.list-group-item {
  border: none;
  background-color: transparent;
}
.list-group-item::before {
  content: "⟐";
  color: currentColor;
}
.card {
  border-radius: 20px;
  border: black solid 2px;
  transition: transform 1s ease;
}
.card:hover {
  box-shadow: 2px 2px 15px black;
  transform: translateX(5px) translateY(5px);
}
.Skill {
  width: 100vw;
  height: auto;
  min-height: 14rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(0, 18rem));
  grid-template-rows: auto;
  justify-content: center;
}
