.Card {
  width: 30vw;
  height: 30vh;
  border: 4px black solid;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  filter: contrast(100%) grayscale(100%);
  transition: filter 2s ease;
}
.Card:hover {
  filter: contrast(100%) grayscale(0%);
}
.Diseño {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #a2d5f2;
}
.monitor {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  top: 1%;
  right: 1%;
  justify-content: end;
}
.monitor .screen {
  font-size: 2rem;
}
.icon-wrapper {
  display: inline-flex; /* permite centrar y mantener tamaño del ícono */
  justify-content: center;
  align-items: center;
  width: 2.5rem; /* tamaño del contenedor */
  height: 2.5rem; /* tamaño del contenedor */
  border: 2px solid #333;
  border-radius: 50%; /* borde redondeado perfecto */
}
.icon-wrapper:hover {
  background: whitesmoke;
}
.active {
  background: whitesmoke;
}
.scrol {
  position: absolute;
  inset: 0;
  color: white;
  width: 100%;
  height: 50%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.4);
  top: 50%;
  padding: 1rem;
  opacity: 0.8;
  transition: opacity 1s ease;
}
.scrol:hover {
  background: #1a1919;
  opacity: 1;
}
details span {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}
summary {
  text-align: center;
}
.scrol[open] {
  overflow-y: auto;
}
